@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&family=IBM+Plex+Sans:wght@300;400;700&display=swap');

// font-family: 'IBM Plex Mono', monospacefont-family: 'IBM Plex Sans', sans-serif;


body {
    background-color: black;

    h1 {
        font-family: 'IBM Plex Mono', monospace;
        color: whitesmoke;
        font-size: 32px;
        font-weight: 400;

    }
}

.parent{
     height: 100vh;
     width: 70%;
    margin: auto;
}

.quetion {
    width: fit-content;

    .answers {
        width: 80%;
        font-family: 'IBM Plex Sans', sans-serif; 
        color: whitesmoke;
        
    }

}