@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&family=IBM+Plex+Sans:wght@300;400;700&display=swap');

// font-family: 'IBM Plex Mono', monospacefont-family: 'IBM Plex Sans', sans-serif;


body {
    background-color: #161616;

    h1 {
        font-family: 'IBM Plex Mono', monospace;
        color: whitesmoke;
        font-size: 32px;
        font-weight: 400;

    }
}

.parent{
     height: 100vh;
     width: 70%;
    margin: auto;
}

.quetion {
    width: fit-content;

    .answers {
        width: 80%;
        font-family: 'IBM Plex Sans', sans-serif; 
        color: whitesmoke;
        
    }

    .answer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        font-size: 22px;

        border-radius: 4px;
        height: fit-content;
        padding: 10px 10px;
        margin: 15px 0;
        background: #262626;
        cursor: pointer;
        transition: all 160ms ease;

        &:hover {
            background: #393939;
        }

        &.selected {
            background-color: #2b6cce;
        }
        .icon > svg{
            height: 18px;
            margin-right: 11px;
            opacity: .7;
        }
    }

}